p {
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 26px;
    margin: 80px 660px 120px 80px;
    word-spacing: 8px;
}

#mischa-bild {
    position: absolute;
    top: 160px;
    right: 80px;
    width: 500px;
    height: 440px;
}