* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 26px;
}

body {
    background-color: #ced2cc;
    background-size: cover;
}

.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px auto;
}

.heading h1 {
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #4caf50;
}

.container-about-me {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.about-image {
    flex: 1;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-left: 450px;
}

.about-image img {
    max-width: 100%;
    height: 300px;
    display: inline-block;
    transition: 0.5s ease;
}

.about-image:hover img {
    transform: scale(1.2);
}

.about-content {
    flex: 1;

}

.about-content p {
    font-size: 18px;
    line-height: 1.5;
    color: #677;
}

@media screen and (max-width: 768px) {
    .heading {
        padding: 0 20px;
    }

    .heading h1 {
        font-size: 36px;
    }

    .heading p {
        font-size: 17px;
        margin-bottom: 0;
    }

    .container-about-me {
        padding: 0;
    }

    .about {
        padding: 20px;
        flex-direction: column;
    }

    .about-image {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .about-content p {
        padding: 0;
        font-size: 16px;
    }

}
