body {
    background-image: url("../image/green-background.png");
    background-size: cover;
}

#text-about-me{
    color: white;
    text-align: center;
    word-spacing: 8px;
    max-width: 700px;
    padding: 20px;
    width: 50%;
    margin-top: 110px;
    position: relative;
    margin-right: 400px;
}
.responsive-paragraph{
    font-size: 20px;
    line-height: 1.6;
}

.responsive-image {
    width: 50%;
    max-width: 400px;
    height: auto;
    position: absolute;
    top: 45%;
    left: 75%;
    transform: translate(-50%, -50%);
}
@media (max-width: 200px){
    p{
        font-size: 12px;
    }

}