body {
    background-image: url("../image/Mountains-dak.jpg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

@media screen and (max-width: 800px) {
    body {
        background-size: auto;
    }
}

#instagram {
    position: absolute;
    top: 660px;
    right: 845px;
    width: 50px;
    height: 50px;
}

#youtube {
    position: absolute;
    top: 655px;
    right: 745px;
    width: 60px;
    height: 60px;
}

#discord {
    position: absolute;
    top: 660px;
    right: 655px;
    width: 50px;
    height: 50px;
}

.container {
    display: inline-block;
    margin-top: 180px;
    margin-left: 620px;
}

.text {
    font-size: 5em;
    letter-spacing: 10px;
    font-family: monospace;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(7),
    cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-color: transparent
    }
}

@keyframes typing {
    from {
        width: 0
    }
}

p {
    color: white;
    font-family: "Poppins", sans-serif;
}