body {
    background-image: url("../image/Mountains-dak.jpg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

@media screen and (max-width: 1200px) {
    body {
        background-size: auto;
    }
}

#instagram {
    position: absolute;
    top: 85%;
    right: 58%;
    width: 4vw;
    height: 4vw;
}

#youtube {
    position: absolute;
    top: 84.5%;
    right: 50%;
    width: 5vw;
    height: 5vw;
}

#discord {
    position: absolute;
    top: 85%;
    right: 43%;
    width: 4vw;
    height: 4vw;
}

.container {
    display: inline-block;
    margin-top: 15%;
    margin-left: 40%;
}

.text {
    font-size: 4vw;
    letter-spacing: 0.5vw;
    font-family: monospace;
    border-right: 2px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(7),
    cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-color: transparent
    }
}

@keyframes typing {
    from {
        width: 0
    }
}

p {
    color: white;
    font-family: "Poppins", sans-serif;
}