body {
    background-image: url("../image/Mountains-dak.jpg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;

}

@media screen and (max-width: 1200px) {
    body {
        background-size: auto;
    }
}

#instagram {
    position: absolute;
    top: 85%;
    right: 56%;
    width: 50px;
    height: 50px;
}

#youtube {
    position: absolute;
    top: 84.2%;
    right: 50%;
    width: 57px;
    height: 64px;
}

#discord {
    position: absolute;
    top: 85.2%;
    right: 44.5%;
    width: 52px;
    height: 53px;
}

.container {
    display: inline-block;
    margin-top: 15%;
    margin-left: 40%;
}

@media screen and (max-width: 850px) {
    #discord {
        position: absolute;
        top: 85.2%;
        right: 24%;
        width: 52px;
        height: 53px;
    }

    #youtube {
        position: absolute;
        top: 84.2%;
        right: 47%;
        width: 57px;
        height: 64px;
    }

    #instagram {
        position: absolute;
        top: 85%;
        right: 70%;
        width: 50px;
        height: 50px;
    }

    .container {
        margin: 10% 30% 30%;
    }
}

.text {
    font-size: 4vw;
    letter-spacing: 0.5vw;
    font-family: "Poppins", sans-serif;
    border-right: 2px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(7),
    cursor .4s step-end infinite alternate;
    left: 50%;
    top: 50%;
}

@media screen and (max-width: 850px) {
    .text {
        font-size: 45px;
    }

}

@keyframes cursor {
    50% {
        border-color: transparent
    }
}

@keyframes typing {
    from {
        width: 0
    }
}

p {
    color: white;
    font-family: "Poppins", sans-serif;
}
