
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: black;
}

.skills_section {
    width: 100%;
    height: 80vh;
    padding: 0 13%;
    background-color: rgba(255, 255, 255, 0.86);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skills_head {
    width: 100%;
    margin-bottom: 80px;
    display: grid;
    place-items: center;
    text-align: center;
}

.skills_head h2 {
    font-size: 35px;
    margin-bottom: -5px;
}

.skills_head h2 span {
    color: #e74d06;
}

.skills_main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}

.skills_main .skill_bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.skill_bar .info p:nth-child(2) {
    font-weight: 500;
}

.skill_bar .bar {
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}

.skill_bar .bar span {
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #e74d06;
    border-radius: 25px;
}

.skill_bar .bar .html {
    width: 90%;
    animation: html 2s;
}

@keyframes html {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}

.skill_bar .bar .css {
    width: 85%;
    animation: css 2s;
}

@keyframes css {
    0% {
        width: 0;
    }
    100% {
        width: 85%;
    }
}

.skill_bar .bar .naturtechnik {
    width: 75%;
    animation: naturtechnik 2s;
}

@keyframes naturtechnik {
    0% {
        width: 0;
    }
    100% {
        width: 75%;
    }
}

.skill_bar .bar .js {
    width: 85%;
    animation: css 2s;
}

@keyframes js {
    0% {
        width: 0;
    }
    100% {
        width: 85%;
    }
}

.skill_bar .bar .geo {
    width: 85%;
    animation: geo 2s;
}

@keyframes geo {
    0% {
        width: 0;
    }
    100% {
        width: 85%;
    }
}

.skill_bar .bar .node {
    width: 70%;
    animation: node 2s;
}

@keyframes node {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}

.skill_bar .bar .deutsch {
    width: 70%;
    animation: deutsch 2s;
}

@keyframes deutsch {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}

.skill_bar .bar .franz {
    width: 30%;
    animation: franz 2s;
}

@keyframes franz {
    0% {
        width: 0;
    }
    100% {
        width: 30%;
    }
}

.menu li a {
    padding: 0;
    color: white;
    font-weight: 900;
}
