@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
    margin: 0;
    padding: 0;
}

h1 {
    color: floralwhite;
    font-size: 400%;
    font-family: sans-serif;
}

#Logo {
    position: absolute;
    top: 133px;
    right: 946px;
    width: 97px;
    height: 106px;
}

.av {
    width: 100%;
    height: 100%;
}

nav {
    width: 100%;
    height: 100px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

ul li {
    display: inline-block;
    vertical-align: middle;
}

ul li a {
    display: block;
    text-decoration: none;
    font-size: 26px;
    font-family: Arial, sans-serif;
    color: white;
    padding: 30px 50px;
}

ul li a:hover {
    color: red;
}

@media screen and (max-width: 768px) {
    .av {
        height: auto;
    }

    ul {
        text-align: left;
        margin-left: 20px;
    }

    ul li {
        display: block;
    }

    ul li a {
        padding: 10px 20px;
    }
}


Body {
    background-color: #12172b;
    color: white;
    font-family: "Poppins", sans-serif;
}

h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
    color: white;
}

.skills-area {
    display: flex;
    flex-direction: column;
    padding: 0 30%;
}

.skill {
    position: relative;
    margin-top: 40px;
}

.skill-title {
    font-size: 40px;
    margin-bottom: 10px;
}

.skill-bar {
    width: 80%;
    background: rgba(255, 255, 255, 0.6);
    height: 40px;
    z-index: -1;
    border-radius: 100px;
    position: absolute;
    margin-left: 150px;
}

.skill-fill {
    background: limegreen;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    overflow: hidden;
    margin-left: 80px;
}

.skill-percent {
    font-size: 30px;
}

.english {
    animation: english 0s;
    width: 70%;
}

.geschichte {
    animation: geschichte 0s;
    width: 65%;
}

.mathematik {
    animation: mathematik 0s;
    width: 60%;
}

@media only screen and (max-width: 750px ) {
    .skills-area {
        padding: 0 5%;
    }

}




